body{
    background-image: url("../images/concrete_seamless.png");
    font-family:"Arial, Helvetica Neue, Helvetica, sans-serif"; 
    font-size:1.05em;
    line-height:1em;
}

header{
    background-color:#ffffff;
    border-bottom:2px solid #cccccc;  
    height:82px;
}

#myimage{
    height:200px;
    width:200px;
    margin-right:1em;
}

h1{
margin: 0;
    padding: 1rem;
}

#footerdiv{
    height:2.5em;
    background-color:#4aaaa5;
}

footer{
    padding:1em;
    font-size:0.5em;
    background-color: grey;
}


h2{
    color: #4aaaa5;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    border-bottom: 2px solid #cccccc;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.75em;
}

#maincontent{
    border:1px solid #dddddd;    
    color:#777;
    padding:20px; 
    margin-top:82px;
}


.space{
    width:100%;
    height:1em;
}

.clearfix::after{
    content:"";
    display:block;
    clear:both;
}

.galleryimg{
    width:100%;
    height:250px;
}

.gallery{  
    width:33%;  
    margin-right:30px;
    position:relative;
    margin-bottom:30px;
    
}

.gallerytext{
    position:absolute;
    bottom:2px;
    background-color: #4aaaa5;      
    text-align: center;
    color:white;
    width:100%;
    padding-top:10px;
    padding-bottom:10px;
}


li a{
    font-size:1.1rem;
    margin-right:1em;
    color:grey;
}

li a:hover
{
    color:greenyellow;
}
#navmenu{        
    flex-direction: row;            
    padding:0.5em 0em;
}

#headcontent{
    padding:0;
 }

 .placenav{     
    padding:0;
}


@media screen and (min-width: 641px) and (max-width: 768px) 
{ 
    header{
        height:94px;
    }

    #maincontent{      
        margin-top:94px;
    }

    .gallery{
        width:45%;        
    }

    p{
        font-size:1.8em;
        line-height: 1.2em;
    }

    li a{
        font-size:1.5em;
    }

    h1{
        font-size:3em;
    }

    h2{
        font-size:2.0em;
        font-weight:bold;
    }
    
    #headcontent{
        max-width:720px;
    }

  }

  @media screen and (max-width: 640px) {

    header{
        height:144px;
    }

    .placenav{
        width:100%;
    }

    .gallery{
        width:100%;
        padding:0;
    }

    #maincontent{
        width:92%;
        margin: 144px auto;
    }

    #headcontent{
        max-width:100%;
        margin:0;
    }

    #myimage{
    width: 100%;
    margin-bottom: 1em;
    margin-right:0;
    }

    h1{
        width:100%;
        text-align:center;
        margin-bottom:0;
        font-size:2.6em;
    }

    #navmenu{        
        margin: 0 auto;        
        padding:0.5em 0em;
    }

    p{
        font-size:1.2em;
        line-height: 1.2em;
    }

    li a{
        font-size:1.1em;
    }

    h1{
        font-size:3em;
    }

    h2{
        font-size:1.5em;
        font-weight:bold;
    }    

  }
